name: 刷歌

on:
  schedule:
    - cron: "0 15 * * *"
  watch:
    types: started

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: 初始化Python
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: 安装依赖
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: 开刷
        env:
          user: ${{ secrets.USER }}
          pwd: ${{ secrets.PWD }}
        run: |
          for ((i = 0; i < 3; i++))
          do
            python3 main.py ${user} ${pwd}
            sleep 10s
          done